#main-form {
  margin: 60px auto;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
  font-family: "tajawal";
  display: block;
  width: 100%;
  text-align: center;
  text-align-last: center;
}

select option {
  text-align: center;
  text-align-last: center;
}

fieldset select:focus {
  border: 2px solid var(--clr-primary);
}

fieldset {
  display: none;
}

select:focus {
  outline: none;
}

.active-fieldset {
  display: block;
}

/* fieldset2 */
.active-fieldset input {
  border: 0;
}

.active-fieldset input:focus {
  outline: none;
  border: 2px solid var(--clr-primary);
}

input[type="number"] {
  direction: rtl;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

/* input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
} */

fieldset {
  background-color: #f1f1f1;
  padding: 20px 15px !important;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 0 10px 10px #00000005;
}

fieldset select {
  color: #818181;
  background-color: #fff;
}

fieldset input {
  background-color: #fafafa;
}

body {
  background-color: #222;
  background-image: url("../images/1.svg");
  background-size: cover;
}

#form-steps ul {
  margin-bottom: 15px;
  position: relative;
}

#form-steps ul::before {
  content: "";
  width: 95%;
  height: 4px;
  background-color: #fff;
  position: absolute;
  top: 72%;
  right: 8px;
}

#form-steps li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-steps li:first-of-type {
  margin-right: 0;
  align-items: flex-start;
}

#form-steps li:last-of-type {
  margin-left: 0;
  align-items: flex-end;
}

#form-steps span {
  display: block;
  color: #fff;
  position: relative;
}

#form-steps li span:first-of-type {
  margin-bottom: 5px;
  font-size: 17px;
}

#form-steps li span:last-of-type {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #fff;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-primary);
}

#form-steps li.active span:first-of-type {
  display: none;
}

#form-steps li.active span:last-of-type {
  width: 45px;
  height: 45px;
  background-color: #5156cf;
  font-size: 25px;
  color: #fff;
  position: relative;
  top: 22px;
}

@media (max-width: 576px) {
  #form-steps li.active span:last-of-type {
    width: 35px;
    height: 35px;
    top: 24px;
  }

  #form-steps li span:first-of-type {
    font-size: 15px;
  }
}
